/*
  Name: Katie Williams
  Date: 01.27.2026
  CSC 372-01

  This is the index.css page for my travel blog. It directly styles the elements of index.html.
*/
body {
    color:darkslategray;
    font-size:12pt;
}

h1 {
    text-align:center;
}

h2 {
    text-decoration: underline;
}

#centered-count {
    text-align:center;
    background-color:#FFFFA8;
    font-weight: bold;
}

#park-picture{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color:indigo;
}