body {
    color:darkslategray;
    font-size:12pt;
}

h1 {
    text-align:center;
}

h2 {
    text-decoration: underline;
}

#centered-count {
    text-align:center;
    background-color:#FFFFA8;
    font-weight: bold;
}

#park-picture{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color:indigo;
}