/*
  Name: Katie Williams
  Date: 01.27.2026
  CSC 372-01

  This is the style.css page for my travel blog. It directly styles the elements of destination.html.
*/
body {
    font-size:11pt;
    background-color:white;
    color:#404040;
    font-family:Georgia;
}

h1,h2{
    text-decoration:underline;
    color:#A4A400;
}

h1 {
    font-size:22pt;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size:18pt;
    font-weight:normal;
    text-align:left;
}

ul {
    list-style-image: url(./Images/bulletpoint.jpg);
}

blockquote {
    font-style: italic;
    background-color: #FFFFA8;
}

figure {
    text-align:center;
}

a {
    color:#A4A400;
}